@model Timescales.Models.Timescale

@{
    ViewData["Title"] = "Edit";
    ViewData["Header"] = "businessTimescalesEditor";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h4 class="text-muted">Edit Timescale</h4>

<div class="row">
    <table class="table">
        <tbody>
            <tr>
                <td>
                    @Html.DisplayNameFor(model => model.Placeholder)
                </td>
                <td>
                    @Html.DisplayFor(model => model.Placeholder)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.DisplayNameFor(model => model.Name)
                </td>
                <td>
                    @Html.DisplayFor(model => model.Name)
                </td>
            </tr>          
        </tbody>
    </table>
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="Placeholder" />
            <input type="hidden" asp-for="Name" />
            <input type="hidden" asp-for="Owners" />
            <input type="hidden" asp-for="Basis" />
            <input type="hidden" asp-for="Site" />
            <input type="hidden" asp-for="LineOfBusiness" />
            <div class="form-group">
                <label asp-for="OldestWorkDate" class="control-label"></label>
                <input asp-for="OldestWorkDate" class="form-control" />
                <span asp-validation-for="OldestWorkDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Days" class="control-label"></label>
                <input asp-for="Days" class="form-control" />
                <span asp-validation-for="Days" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
                <a class="btn btn-primary" asp-action="Index">Back to List</a>
                <div class="text-danger">@ViewBag.UserMessage</div>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
