<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Timescales</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
        <link rel="stylesheet" href="~/lib/font-awesome/css/font-awesome.min.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.css" 
              asp-fallback-href="~/lib/bootstrap/css/bootstrap.css" 
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="@Environment.GetEnvironmentVariable("CSS", EnvironmentVariableTarget.Machine))" asp-append-version="true" /> 
        <link rel="stylesheet" href="~/lib/font-awesome/css/font-awesome.min.css" asp-append-version="true" /> 
    </environment>
</head>
<body style="background-color: #e5f7ff;">
    
    <nav class="navbar bg-primary fixed-top">
        <form class="form-inline">
            <a class="navbar-brand" href="../index.htm"><i class="fa fa-paw" aria-hidden="true"></i> &nbsp;ocelot.<span class="text-muted">@ViewData["Header"]</span><span style="display:none;" id="dev">.Development</span></a>

            <div class="btn-toolbar mr-2" role="toolbar">
                <div class="btn-group" role="group">
                    <button class='btn btn-secondary cmd-report-bug' type='button' title="Report a Bug"><i class="fa fa-bug" aria-hidden="true"></i><span hidden> &nbsp;Report a bug</span></button>
                    <button class="btn btn-secondary cmd-report-need" type="button" title="Suggest a user need"><i class="fa fa-commenting-o" aria-hidden="true"></i><span hidden> &nbsp;Suggestions</span></button>
                </div>
            </div>
        </form>

    </nav>  

    <div class="container body-content">
        @RenderBody()
        <hr />        
    </div>

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
        <script src="~/js/bugs.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
                asp-fallback-src="~/lib/jquery/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-K+ctZQ+LL8q6tP7I94W+qzQsfRV2a+AfHIi9k8z8l9ggpc8X+Ytst4yBo/hH+8Fk">
        </script>
        <script src="~/lib/bootstrap/css/bootstrap.css"
                asp-fallback-src="~/lib/bootstrap/css/bootstrap.css"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
        <script src="@Environment.GetEnvironmentVariable("NavBarBugs", EnvironmentVariableTarget.Machine))" asp-append-version="true"></script>
    </environment>

    @RenderSection("Scripts", required: false)
</body>
</html>
