<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Timescales</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
        <link rel="stylesheet" href="~/lib/font-awesome/css/font-awesome.min.css" />
        <partial name="/Views/Shared/_Modals.cshtml" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.css" />
        <link rel="stylesheet" href="@Environment.GetEnvironmentVariable("CSS", EnvironmentVariableTarget.Machine)" />
        <link rel="stylesheet" href="~/lib/font-awesome/css/font-awesome.min.css" />
        <link rel="apple-touch-icon" sizes="180x180" href="@Environment.GetEnvironmentVariable("AppleTouchIcon", EnvironmentVariableTarget.Machine)">
        <link rel="icon" type="image/png" sizes="32x32" href="@Environment.GetEnvironmentVariable("Favicon32x32", EnvironmentVariableTarget.Machine)">
        <link rel="icon" type="image/png" sizes="16x16" href="@Environment.GetEnvironmentVariable("Favicon16x16", EnvironmentVariableTarget.Machine)">
        <link rel="mask-icon" color="#01928c" href="@Environment.GetEnvironmentVariable("SafariPinnedTab", EnvironmentVariableTarget.Machine)">
        <link rel="shortcut icon" href="@Environment.GetEnvironmentVariable("Favicon", EnvironmentVariableTarget.Machine)">
        <partial name="/Views/Shared/_Modals.cshtml" />
    </environment>
</head>

<body style="background-color: #e5f7ff;">
    
    <nav class="navbar bg-primary fixed-top">
        <form class="form-inline">
            <a class="navbar-brand" href="@Environment.GetEnvironmentVariable("CmsIndex", EnvironmentVariableTarget.Machine)"><i class="fa fa-paw" aria-hidden="true"></i> &nbsp;ocelot.<span class="text-muted">@ViewData["Header"]</span><span style="display:none;" id="dev">.Development</span></a>

            <div class="btn-toolbar mr-2" role="toolbar">
                <div class="btn-group" role="group">
                    <button class='btn btn-secondary cmd-report-bug' type='button' title="Report a Bug" style="background-color:#fff;border-color:#ccc"><i class="fa fa-bug" style="color:#292b2c;background-color:#fff" aria-hidden="true"></i><span hidden> &nbsp;Report a bug</span></button>
                    <button class="btn btn-secondary cmd-report-need" type="button" title="Suggest a user need" style="background-color:#fff;border-color:#ccc"><i class="fa fa-commenting-o" style="color:#292b2c;background-color:#fff" aria-hidden="true"></i><span hidden> &nbsp;Suggestions</span></button>
                </div>
            </div>
        </form>

    </nav>  

    <div class="container body-content">
        @RenderBody()
        <hr />        
    </div>

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
        <script src="~/js/bugs.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/js/bootstrap.js"></script>
        <script src="~/js/site.min.js"></script>
        <script src="@Environment.GetEnvironmentVariable("NavBarBugs", EnvironmentVariableTarget.Machine)"></script>
    </environment>

    @RenderSection("Scripts", required: false)
</body>
</html>
