@model Timescales.Models.Timescale

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Timescale</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Placeholder)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Placeholder)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.UpdatedDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UpdatedDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Owners)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Owners)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Basis)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Basis)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.LineOfBusiness)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LineOfBusiness)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.OldestWorkDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.OldestWorkDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Days)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Days)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
