@model Timescales.Models.Timescale

@{
    ViewData["Title"] = "Details";
    ViewData["Header"] = "authorTimescalesEditor";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h4 class="text-muted">Timescale Details</h4>

<div>  
    <table class="table">        
        <tbody>
            <tr>
                <td>
                    @Html.DisplayNameFor(model => model.Placeholder)
                </td>
                <td>
                    @Html.DisplayFor(model => model.Placeholder)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.DisplayNameFor(model => model.Name)
                </td>
                <td>
                    @Html.DisplayFor(model => model.Name)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.DisplayNameFor(model => model.UpdatedDate)
                </td>
                <td>
                    @Html.DisplayFor(model => model.UpdatedDate)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.DisplayNameFor(model => model.Owners)
                </td>
                <td>
                    @Html.DisplayFor(model => model.Owners)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.DisplayNameFor(model => model.Basis)
                </td>
                <td>
                    @Html.DisplayFor(model => model.Basis)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.DisplayNameFor(model => model.Site)
                </td>
                <td>
                    @Html.DisplayFor(model => model.Site)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.DisplayNameFor(model => model.LineOfBusiness)
                </td>
                <td>
                    @Html.DisplayFor(model => model.LineOfBusiness)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.DisplayNameFor(model => model.OldestWorkDate)
                </td>
                <td>
                    @Html.DisplayFor(model => model.OldestWorkDate)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.DisplayNameFor(model => model.Days)
                </td>
                <td>
                    @Html.DisplayFor(model => model.Days)
                </td>
            </tr>
        </tbody>
    </table>    
</div>

<div>
    <a class="btn btn-primary" asp-action="Edit" asp-route-id="@Model.Id">Edit</a>
    <a class="btn btn-primary" asp-action="Audit" asp-route-id="@Model.Id">Audit</a>
    <a class="btn btn-primary" asp-action="Index">Back to List</a>
</div>
